@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text: #170420;
    --background: #f8edfd;
    --primary: #ef8e76;
    --secondary: #e9c041;
    --accent: #651089;
  }
  .dark {
    --text: #f8edfd;
    --background: #170420;
    --primary: #ef8e76;
    --secondary: #e9c041;
    --accent: #651089;
  }
}
